<% http_header("style/form.css", "/funcs.js") %>
<% body_header_sel("_wiz_logs", "verizon_debug.htm", "verizon_debug") %>
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
        <TD nowrap colspan=2 align=left height="10px"></TD>
</TR>
</TABLE>
<% table_header() %> 
<script language="javascript">
var dsl_wan_preference = "<% cfg_get("dsl_wan_preference") %>";
var have_click_start = "<% cfg_get("have_start") %>";
<% cfg_set("have_start","0") %>;

function show_vlanid()
{
    var cf=document.forms[0];
	if(dsl_wan_preference == "2"){
		alert(" the WAN connection type must be ADSL/VDSL, please go to WAN Setup page for changing WAN Preference to \"Must use DSL WAN\"");
		return false;
	}
	return true;
//	cf.action="/apply.cgi?/logs.htm timestamp="+ts;
}
function refreshvlanid()
{
        xmlHttp = createXMLHttpRequest();
        xmlHttp.open("GET","verizon_debug_info.txt",true);
        xmlHttp.onreadystatechange = startCallback;
        xmlHttp.send(null);

	setTimeout("refreshvlanid()",10000);
}
function save_debug()
{
	this.location.href = "verizon_frame.htm"
}

function startCallback()
{
	//The response is complete
	if(xmlHttp.readyState == 4)
	{
		//Request has been successfully
		if(xmlHttp.status == 200)
		{
			pollCallback();
		}
	}
}
function pollCallback()
{
	var cf=document.forms[0];
        var respText = xmlHttp.responseText;
		var coil_word_arr=respText.split("\n");
		var back = parseInt(coil_word_arr);
        if(back == 0) //0 file is not exit
			this.location.href="verizon_debug.htm";
}
function loadvalue()
{
	var form=document.forms[0];
	form.start.disabled = false;
	if(have_click_start == "1"){
		document.getElementById("start2").style.display="";
		document.getElementById("start1").style.display="none";
		document.getElementById("save1").style.display="none";
		document.getElementById("save2").style.display="";
		setTimeout("refreshvlanid()",10000);
	}
}

</script>
<TR>
        <TD nowrap colspan=2 align=left height="10px"></TD>
</TR>
<TR>
		<TD nowrap colspan=2 align=left width=20%>
        </TD>
		
        <TD nowrap colspan=2 font=80px id="start1">
        <input class="common_bt" type="submit" name="start" value="start" onClick="return show_vlanid()">
        </TD>
		<TD nowrap colspan=2 font=80px  style="display:none" id="start2">
        <input class="common1_bt" type="submit" name="start" value="start" disabled>&nbsp;&nbsp;
        &nbsp;&nbsp;<span style="font-size: 17px;">Debuging.............</span>
        </TD>
</TR>
<TR>
		<TD nowrap colspan=2 align=left width=20% height="30px">
        </TD>
</TR>
<TR>
		<TD nowrap colspan=2 align=left width=20%>
        </TD>
		
        <TD nowrap colspan=2 font=80px id="save1">
        <input class="common_bt" type="button" name="save" value="save" onClick='save_debug();'>
        </TD>
		 <TD nowrap colspan=2 font=80px style="display:none" id="save2">
        <input class="common1_bt" type="button" name="save" value="save" onClick='save_debug();' disabled>
        </TD>
</TR>
</table>
</form>
</body>
</html>

