# GENERATED AUTOMATICALLY BY configure, DON'T EDIT THIS FILE MANUALLY.

HAVE_DSL=1
HAVE_BROADBAND=0
HAVE_LTE=0

HAVE_WAN=1
HAVE_WIFI=1

HAVE_IPv6=1
HAVE_USB_STORAGE=1
CD_LESS=1

# multiple operation mode, like ap mode, bridge mode, extender mode.
MULTI_OPERATION=1

HAVE_QOS=1
SOAP_ON=1
HAVE_SECURITY=1
HAVE_ADVANCED=1

HAVE_VLAN=1
HAVE_VPN=1

HAVE_TR069=0

USE_MTD_UTIL=0
